<div class="intro">
	<p>
		Bonjour, je suis Ahmadou Waly Ndiaye, développeur web au Sénégal.
	</p>
	<p>
		Retrouvez-moi sur :
		<a href="https://www.linkedin.com/in/ndiaye-ahmadou-waly-a61056ba/">LinkedIn</a>
		<a href="https://github.com/sir-kain">Github</a>
		<a href="https://twitter.com/_sir_kane">Twitter</a>
	</p>
</div>
<h1>Articles</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
